{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Games you should play!!!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card text-white bg-dark mb-3">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="300">
                    <div class="card-body">
                    <h5 class="card-title">Whats good about <mark>Factorio</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Factorio is a factory building game where you crash on an alian planet and atempt to lanch a rocket into space.</li>
                            <li>Through out the process of makeing an .</li>
                            <li>GitHub.  Managing and sharing code change, branches, pull requests, issues, and more will be through GitHub.</li>
                            <li>DevOps. Python programmers should have a passion for managing the environment and learning automation (Git, Linux, Bash, Python Packages, Docker).</li>
                            <li>API and Microservice using Flask.  Mastering development techniques in creating and consuming RESTful APIs</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-danger">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white bg-dark mb-3">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Minecraft_cover (1).png') }}" alt="Flask Development" height="450">
                    <div class="card-body">
                    <h5 class="card-title">What is <mark>Minecraft</mark>? How do I play the gamme?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Minecraft is the popular video game application of microsoft.</li>
                            <li>The game is played by millions world wide and is the most popular game in the world.</li>
                            <li>The game sparks creativity in kids world wide inspireing learning and critical thinking</li>
                            <li>You can get this game and start playing toady by clicking on the link below.</li>
                        </ol>
                    </p>
                    <a href="https://www.minecraft.net/en-us/get-minecraft" class="btn btn-danger">Buy Minecraft!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-white bg-dark mb-3">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/header.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How do you get <mark>Terreria</mark>is it 2d minecraft?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Terraria is a fun game where you can battle many boses and in the end take out the moon lord.</li>
                            <li>There is also a exstensive moding comunity that adds hundreds of hours more of gameplay.</li>
                            <li>You can get the game now by clicking on the link below</li>
                            <li>But is it just 2D minecraft? Play the game and find out for your self!.</li>
                        </ol>
                    </p>
                    <a href="https://store.steampowered.com/app/105600/Terraria/" class="btn btn-danger">Buy Terreria!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}